@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

* {
    margin: 0;
    padding: 0;
}

body { 
    background-color: #f7f7f7; 
    font-family: serif; 
}

#header {
    border: 1px solid ; 
    background-color: #dfdfdf;
    min-width: 1280px;
    height: 50px;
    text-align: center;
    padding-top: 18px;
}

#header #selected {
    color: #000; /* черный цвет */
}

#center {
    width: 1280px;    
    margin: 0 auto;
}

#header a {
    color: #4d4d4d; /*темно-серый */
    font-size: 20px;
    font-weight: 100;
    text-align: left;
    text-decoration: none;
    height: 30px;
    line-height: 30px;
    display: inline-block;
}

#header span {
    padding: 0 60px;
}

#content {
    height: 900px;
    min-width: 1200px;
    margin: 0 auto;
}

#content h1 {
    min-width: 1200px;
    text-align: center;
    color: #2e353d;
    font-size: 40px;
    font-weight: 300;
    margin-top: 63px;
    margin-bottom: 75px;
}

#content img {
    margin-left: 20px;
    opacity: 0.9; 
    box-shadow: 10px 10px 10px black;   
}

#content #box_text {
    width: 670px;
    background-color: #ffffff;
    float: right;
    padding: 49px 48px 10px 76px;
}

#content #box_text p {
    color: #242424;
    font-size: 24px;
    font-weight: 100;
    text-align: left;
    margin-bottom: 31px;
}

#content #box_text a  {
    color: #40678a;
    font-size: 24px;
    font-weight: 100;
    text-align: center;
    text-decoration: none;
    padding-right:30px;
}

#content #box {
    background-color: #ffffff;
    width: 1238px;
    height: 446px;
    margin: 0 auto;
    padding-top: 37px;
    padding-left: 38px;
}

#content #box p {
    color: #242424;
    font-size: 24px;
    font-weight: 100;
    text-align: left;
    margin-top: 37px;
    margin-bottom: 30px;
}

#content #box a {
    display: block;
    float: left;
    background-color:  #8cbbd3;
    color:  #ffffff;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    margin-top: 30px;
    padding:11px 51px;
}

#footer {
    background-color: #434445;
    min-width: 1920px;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    color: #a4a4a4;
    font-size: 20px;
    font-weight: 100;
    line-height: 140px;
}

.section_title {
    padding-left: 10px;
    border: 1px solid black;
    background: #dfdfdf;
    font-size: 30px;
    color: black;
    width: 100%;
    display: inline-block;
}
.list{
    color: #242424;
    font-size: 20px;
    font-weight: 10;
    padding-left: 50px;    
    margin-top: 17px;
    margin-bottom: 30px;
}
